{{>index-top}}
<h1>챌린지 수정</h1>
<div class="col-md-12">
  <div class="col-md-8">
    <form id="input-form" enctype="multipart/form-data">
      <div class="form-group m-3">
        <label for="title">제목</label>
        <input type="text" name="title" class="form-control" id="title" value="{{challenge.title}}" placeholder="제목을 입력하세요">
      </div>
      <div class="form-group m-3">
        <label for="summary"> 챌린지 요약 </label>
        <input type="text" name="summary" class="form-control" id="summary" value="{{challenge.summary}}" placeholder="작성자를 입력하세요">
      </div>
      <div class="form-group m-3">
        <label for="content"> 챌린지 설명 </label>
        <textarea class="form-control" name="description" style="height: 300px" id="description"
                  placeholder="내용을 입력하세요">{{challenge.description}}</textarea>
      </div>

      <div class="form-group m-3">
        <label for="method">인증방법</label>
        <input type="text" class="method" id="method" name="method" value="{{challenge.method}}">
      </div>
      <div class="form-group m-3">
        <label for="method">인증빈도</label>
        <input type="number" class="frequency" id="frequency" name="frequency" value="{{challenge.frequency}}">
      </div>

      <div class="form-group m-3">
        <label for="max">참가 최대 인원</label>
        <input type="number" name="max" class="max" id="max" value="{{challenge.max}}">
      </div>
      <div class="form-group m-3">
        <label for="start">챌린지 시작 시간</label>
        <input type="datetime-local" id="startDate" class="start" name="startDate" value="{{challenge.startDate}}">
      </div>
      <div class="form-group m-3">
        <labe for="end">챌린지 종료 시간</label>
          <input type="datetime-local" name="endDate" id="endDate" class="endDate" value="{{challenge.endDate}}">
      </div>
      <div id="image_container" style="text-align: center;">
        <h3>등록된 이미지</h3>
        {{#challenge.challengeImg}}
        <img src="{{url}}" style="width: 150px; height: 150px;">
      {{/challenge.challengeImg}}
      </div>
      <div class="form-group m-3">
        <label for="InputSubject1">파일첨부</label>
        <input multiple name="img" id="fileInput" type="file" data-class-button="btn btn-default"
               data-class-input="form-control"
               data-button-text="" data-icon-name="fa fa-upload" class="form-control" tabindex="-1"
               style="position: absolute; clip: rect(0px 0px 0px 0px);">
        <div class="bootstrap-filestyle input-group">
          <input multiple type="text" id="userfile"  class="form-control" disabled="">
          <span class="group-span-filestyle input-group-btn" tabindex="0">
            <label for="fileInput" class="btn btn-default">
              <span class="glyphicon fa fa-upload"></span>
            </label>
          </span>
        </div>
      </div>
      <ul id="preview" style="text-align: center;"></ul>
    </form>
    <div align="right">
      <a href="/" role="button" class="btn btn-secondary">취소</a>
      <button type="submit" class="btn btn-primary" id="btn-update">수정</button>
      <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
  </div>
</div>
{{>challenge/challenge-bottom}}
